body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: size 14px;
    background-image: url("images/BG.jpg");
    background-size: cover;
    color: #ffffff;
  }

.type {
    width: 300px;
    margin: 250px auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 50px;
    text-align: center;
  }

button {
    width: 107%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
button:hover {
    background-color: #ffffff;
    color: #000;
  }